.root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  background-color: #202020;
  color: white;
  overflow: hidden;
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  }
a:hover{
  opacity: 0.7;
  transition: 0.7s;
}
  button:hover{
    opacity: 0.7;
    transition: 0.7s;
  }