.about {
    padding: 70px 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #202020;
  }
  @media (min-width: 560px) {
    .about {
      padding: 90px 50px;
    }
  }
  @media (min-width: 1000px) {
    .about {
      padding: 110px 70px;
    }
  }
  @media (min-width: 568px) {
    .about__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
  .about__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: white;
  }
  .about__paragraph {
    margin: 16px 0 0;
    padding: 0;
    font-weight: 400;
    color: white;
    font-size: 14px;
    line-height: 1.4;
  }
  .about__article {
    margin-top: 70px;
  }
  @media (min-width: 568px) {
    .about__article {
      margin-right: 30px;
      width: 50%;
    }
  }
  @media (min-width: 1050px) {
    .about__article {
      margin-right: 40px;
    }
  }
  .about__article:last-child {
    margin-right: 0;
  }
  .about__stage{
    margin: 110px 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }
  @media (min-width: 568px) {
    .about__steps {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .about__stage_title {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about__stage_title-item {
    margin: 0;
    padding: 11px 0;
    width: 65%;
    background-color: #303030;
    color: white;
  }
  .about__stage_title-item:first-child {
    width: 35%;
    background-color: #3DDC84;
    color: black;
  }
  .about__stage_cell {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about__stage_cell-item {
    margin: 0;
    padding: 11px 0;
    width: 65%;
    color: #A0A0A0;
  }
  .about__stage_cell-item:first-child {
    width: 35%;
  }
  