.footer{
    background-color: #202020;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* margin: 79px 70px 20px 70px ;*/
    margin-top: 79px;
    margin-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    width: 100%;
}
@media (max-width: 768px) {
    .footer {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
.footer__title{
    width: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 1.2;
    color: #8b8b8b;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #424242;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between
}
.footer__date{
    color: white;
    font-size: 13px;
    line-height: 1.2;

}
.footer__link{
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
}
.footer__link:hover{
    opacity: 0.6;
    transition: 0.6s;
}
.footer__link:last-child{
    padding-left: 20px;
}