.movies__form {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 80px;
  /* margin: 80px 70px 0 70px; */
}
.movies__form-input {
  width: 100%;
  margin-right: 10px;
  color: #3ddc84;
  background-color: #2f2f2f;
  border-style: none;
  border-radius: 8px;
  height: 50px;
}
.movies__form-button {
  width: 46px;
  height: 46px;
  padding: 0;
  cursor: pointer;
  border-radius: 6px;
  border-style: none;
  background-color: #4285f4;
  color: white;

  /* background-image: url(../../images/find_button.svg); */
}
