.full-navigation {
  width: 100%;
  display: flex;
  color: white;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.full-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
  margin-left: 40px;
  font-size: 13px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.full-navigation__list-item {
  margin-right: 16px;
}
.full-navigation__list-item:last-child {
  margin-right: 0;
}
.full-navigation__button-account {
  align-self: flex-end;
}
