.navigation {
    width: 132px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
  }
  @media (min-width: 568px) {
    .navigation {
      width: 183px;
    }
  }
  .navigation__link {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
  @media (min-width: 568px) {
    .navigation__link {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .navigation-main__menu {
    width: 40px;
    height: 43px;
    background-image: url('../../images/burger.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  @media (min-width: 1000px) {
    .navigation-main__menu {
      display: none;
    }
  }
  @media (min-width: 1000px) {
    .navigation-main {
      width: 100%;
      display: flex;
      margin-right: 70px;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  