.auth {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @media (min-width: 568px) {
    .auth {
      margin-left: 24%;
      margin-right: 24%;
      margin-bottom: 22vh;
      align-items: flex-start;
    }
  }
  @media (min-width: 1280px) {
    .auth {
      margin-left: 24%;
      margin-right: 24%;
      margin-bottom: 70px;
    }
  }
  .auth__header {
    margin-top: 56px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 568px) {
    .auth__header {
      margin-top: 22vh;
      margin-bottom: 40px;
      align-items: flex-start;
    }
  }
  @media (min-width: 1280px) {
    .auth__header {
      margin-top: 70px;
    }
  }
  .auth__logo {
    width: 38px;
    height: 38px;
  }
  .auth__title {
    margin: 50px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  @media (min-width: 568px) {
    .auth__title {
      margin-top: 40px;
    }
  }
  .auth__error {
    margin: 0 0 10px;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FF4062;
  }
  .auth__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .auth__link {
    margin: 14px auto 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
    text-align: center;
  }
  .auth__link-span {
    margin-left: 7px;
    color: #4285F4;
  }
  @media (min-width: 568px) {
    .auth__link {
      margin-top: 16px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .auth-input {
    margin-top: 18px;
    max-width: 100%;
    display: flex;
  
    flex-direction: column;
    align-items: flex-start;
  }
  .auth-input__text {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #A0A0A0;
  }
  .auth-input__input {
    padding: 0 0 10px;
    margin-bottom: 6px;
    width: 100%;
    background-color:#202020 !important;
    border: none;
    border-bottom: 1px #e8e8e8 solid;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .auth-input__input:invalid {
    color: #FF4062;
  }
  .auth-input__input:focus {
    outline: none;
  }
  .auth-input__input:-webkit-autofill{
    -webkit-text-fill-color: white;  
    background-color: #202020;
    -webkit-box-shadow: 0 0 0px 1000px #202020 inset;
    transition: background-color 5000s ease-in-out 0s;
    }
  .auth-input__span {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff4062;
  }

  .auth-button {
    margin-top: 34vh;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 260px;
    border: none;
    background-color: #4285F4;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    align-self: center;
    cursor: pointer;
  }
  .auth-button:disabled {
    cursor: auto;
    background-color: #2b2b2b;
  }
  @media (min-width: 568px) {
    .auth-button {
      width: 100%;
      margin-top: 17vh;
      font-size: 14px;
      line-height: 17px;
    }
  }
  